:root{
    /* background colors */
    --herobck-color: #2E2F42;
    --whitebck-color: #FFFF;
    --modalbck-color: #FCFCFC;
    /* colors */
    --primary-color:#4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-color: #2E2F42;
   /* fonts */
    --font-main: "Roboto", sans-serif;

/* other */
--items: 4;
}

body {
    font-family: var(--font-main);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* styles */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

    outline: solid red;
} 
