/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 76px;

    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-menu {
    display: flex;
    gap: 40px;   
}
.nav-item {
}
.nav-link{
    display: block;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--herobck-color);
}
.nav-link:hover,
.nav-link:focus {
    color:var(--pressed-color);
}
.accent{
    color: var(--herobck-color);
}
.contact {
    font-style: normal;
}
.contact .list {
    display: flex;
    gap: 40px;
}
.contact-item{

}
.contact-link {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--pressed-color);
}

/* hero styles */
.hero {
    padding: 188px 0;

    font-family: var(--font-main);
    background-color: var(--dark-color);
    text-align: center;
}
.hero-title {
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--whitebck-color);
}
.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--whitebck-color);
    letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-color);
    color:var(--whitebck-color);
    
}

/* benefits */
.benefits {
    padding: 120px 0;
}
.benefits-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.2;
    color: var(--herobck-color);
}
.benefits .list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.benefits-item {
    width: 264px;
}
.benefits-subtitle {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* features styles */
.product {
    padding-bottom: 120px;
}

.product-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
    line-height: 1.11;
    text-transform: capitalize;
}
.product .list {
    display: flex;
    gap: 24px;
}
.product-item {
    width: calc((100% - 3 * 16px) / 3);
}
.product-img{
    display: block;
    background-color: var(--accent-color);
}

/* team styles */
.team {
    padding: 120px 0;

    background-color: var(--light-color);
}
.team-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
    line-height: 1.11;
    text-transform: capitalize;
}
.team .list {
    display: flex;
    gap: 24px;
}
.team-item {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;


    background-color: var(--whitebck-color);
}
.team-img {
    display: block;
}
.team-info-wrapper {
    padding: 32px 0;
}
.team-subtitle {
    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    line-height: 1.2;
}
.team-text {
    text-align: center;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* footer styles*/
.footer{
    padding: 100px 0;

    background-color: var(--dark-color);
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

    font-family: "Raleway", sans-serif;
    color:var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.accent-footer{
    color: var(--light-color);
}
.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}

/* portfolio-header */
.media-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--herobck-color);
}
.media-link:focus{
    color: var(--pressed-color);
}
.contact-link:focus{
    color: var(--pressed-color);
}

/* portfolio-interactive section */
.main-front {
    padding-top: 96px;
    padding-bottom: 120px;
}

.interactive-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.interactive-btn {
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--light-color);
    cursor: pointer;
}
.interactive-btn:hover,
.interactive-btn:focus {
    border: 1px solid transparent;

    color: var(--whitebck-color);
    background-color: var(--pressed-color);
}

/* portfolio-multimedia section */
.media-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.media-item {
    width: calc((100% - 3 * 16px) / 3);
}
.media-link {
}
.media-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}
.media-img {
    display: block;
}
.media-subtitle{
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.media-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* footer */
.footer {
}